{% extends 'base.html' %} {% block content %}


<!-- main-area -->
<main>
    <!-- up-coming-movie-area -->
    <section class="ucm-area ucm-bg2" data-background="/static/images/bg/ucm_bg02.jpg">
        <div class="container">
            <div class="row align-items-end mb-55">
                <div class="col-lg-6">
                    <div class="section-title title-style-three text-center text-lg-left">
                        <span class="sub-title">WHAT TO WATCH</span>
                        <h2 class="title">Popular Releases</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="ucm-nav-wrap">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="tvShow-tab" data-toggle="tab" href="#tvShow" role="tab" aria-controls="tvShow" aria-selected="true">TV Shows</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="movies-tab" data-toggle="tab" href="#movies" role="tab" aria-controls="movies" aria-selected="false">Movies</a>
                            </li>
                            <!-- <li class="nav-item" role="presentation">
                                <a class="nav-link" id="anime-tab" data-toggle="tab" href="#anime" role="tab" aria-controls="anime" aria-selected="false">Anime</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Tv shows Start -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tvShow" role="tabpanel" aria-labelledby="tvShow-tab">
                    <div class="ucm-active-two owl-carousel">
                        {% for show in shows %} {% set abs_rating = show.imDbRating | int / 2%}
                        <div class="movie-item movie-item-two mb-30">
                            <div class="movie-poster">
                                <a href="/movie_details/{{show.id}}"><img src="{{show.image}}" alt=""></a>
                            </div>
                            <div class="movie-content">

                                <div class="rating">
                                    <!-- {% if abs_rating < 1 %} <i class="fas fa-star-half"></i> {% endif %}  -->
                                    {% if abs_rating >= 1 %}
                                    <i class="fas fa-star"></i> {% endif %} {% if abs_rating >= 2 %}
                                    <i class="fas fa-star"></i> {% endif %} {% if abs_rating >= 3 %}
                                    <i class="fas fa-star"></i> {% endif %} {% if abs_rating >= 4 %}
                                    <i class="fas fa-star"></i> {% endif %} {% if abs_rating == 5%}
                                    <i class="fas fa-star"></i> {% endif %} {% if abs_rating > 1 %}
                                    <i class="fas fa-star-half"></i> {% endif %} {% if abs_rating % 2 == 0 %}
                                    </i> {% endif %}
                                    <!-- '.' in show.imDbRating and       ......      <i class="fas fa-star-half"> -->
                                </div>
                                <h5 class="title"><a href="/movie_details/{{show.id}}"> {{show.title}} </a></h5>
                                <span class="rel">{{show.year}}</span>
                                <div class="movie-content-bottom">
                                    <ul>
                                        <li class="tag">
                                            <a href="#">HD</a>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                            <span class="like"><i class="fas fa-thumbs-up"></i>{{abs_rating | string}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- <div class="movie-item movie-item-two mb-30">
                            <div class="movie-poster">
                                <a href="movie-details.html"><img src="/static/images/poster/s_ucm_poster02.jpg" alt=""></a>
                            </div>
                            <div class="movie-content">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h5 class="title"><a href="movie-details.html">The Parkar Legend</a></h5>
                                <span class="rel">Adventure</span>
                                <div class="movie-content-bottom">
                                    <ul>
                                        <li class="tag">
                                            <a href="#">HD</a>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                            <span class="like"><i class="fas fa-thumbs-up"></i> 3.5</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="movie-item movie-item-two mb-30">
                            <div class="movie-poster">
                                <a href="movie-details.html"><img src="/static/images/poster/s_ucm_poster03.jpg" alt=""></a>
                            </div>
                            <div class="movie-content">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h5 class="title"><a href="movie-details.html">The Tonoy 88 Bottle</a></h5>
                                <span class="rel">Adventure</span>
                                <div class="movie-content-bottom">
                                    <ul>
                                        <li class="tag">
                                            <a href="#">HD</a>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                            <span class="like"><i class="fas fa-thumbs-up"></i> 3.5</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="movie-item movie-item-two mb-30">
                            <div class="movie-poster">
                                <a href="movie-details.html"><img src="/static/images/poster/s_ucm_poster04.jpg" alt=""></a>
                            </div>
                            <div class="movie-content">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h5 class="title"><a href="movie-details.html">The Ackle Bottle</a></h5>
                                <span class="rel">Adventure</span>
                                <div class="movie-content-bottom">
                                    <ul>
                                        <li class="tag">
                                            <a href="#">HD</a>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                            <span class="like"><i class="fas fa-thumbs-up"></i> 3.5</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="movie-item movie-item-two mb-30">
                            <div class="movie-poster">
                                <a href="movie-details.html"><img src="/static/images/poster/s_ucm_poster05.jpg" alt=""></a>
                            </div>
                            <div class="movie-content">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h5 class="title"><a href="movie-details.html">Message in a Bottle</a></h5>
                                <span class="rel">Adventure</span>
                                <div class="movie-content-bottom">
                                    <ul>
                                        <li class="tag">
                                            <a href="#">HD</a>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                            <span class="like"><i class="fas fa-thumbs-up"></i> 3.5</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="movie-item movie-item-two mb-30">
                            <div class="movie-poster">
                                <a href="movie-details.html"><img src="/static/images/poster/s_ucm_poster06.jpg" alt=""></a>
                            </div>
                            <div class="movie-content">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h5 class="title"><a href="movie-details.html">The Dog Woof</a></h5>
                                <span class="rel">Adventure</span>
                                <div class="movie-content-bottom">
                                    <ul>
                                        <li class="tag">
                                            <a href="#">HD</a>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                            <span class="like"><i class="fas fa-thumbs-up"></i> 3.5</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- Start of the movies tab -->
                <div class="tab-pane fade" id="movies" role="tabpanel" aria-labelledby="movies-tab">
                    <div class="ucm-active-two owl-carousel">
                        <!--                                                    PETER: NEED TO ADD CONTENT IN JUST IN CASE NO STARS? -->
                        {% for movie in movies %} {% set abs_rating = movie.imDbRating | int / 2%}
                        <div class="movie-item movie-item-two mb-30">
                            <div class="movie-poster">
                                <a href="/movie_details/{{movie.id}}"><img src="{{movie.image}}" alt=""></a>
                            </div>
                            <div class="movie-content">
                                <div class="rating">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                                <h5 class="title"><a href=/movie_details/{{movie.id}}>{{movie.title}}</a></h5>
                                <span class="rel">{{movie.year}}</span>
                                <div class="movie-content-bottom">
                                    <ul>
                                        <li class="tag">
                                            <a href="#">HD</a>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                            <span class="like"><i class="fas fa-thumbs-up"></i> 3.5</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- up-coming-movie-area-end -->

    <!-- gallery-area -->
    <!-- <div class="gallery-area position-relative">
        <div class="gallery-bg"></div>
        <div class="container-fluid p-0 fix">
            <div class="row gallery-active">
                <div class="col-12">
                    <div class="gallery-item">
                        <img src="/static/images/images/gallery_01.jpg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="gallery-item">
                        <img src="/static/images/images/gallery_02.jpg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="gallery-item">
                        <img src="/static/images/images/gallery_03.jpg" alt="">
                    </div>
                </div>
                <div class="col-12">
                    <div class="gallery-item">
                        <img src="/static/images/images/gallery_04.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-nav"></div>
    </div> -->
    <!-- gallery-area-end -->

    <!-- services-area -->
    <!-- <section class="services-area services-bg-two" data-background="/static/images/bg/services_bg02.jpg">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 order-0 order-lg-2">
                    <div class="services-img-wrap">
                        <img src="/static/images/images/services_img02.jpg" alt="">
                        <a href="/static/images/images/services_img02.jpg" class="download-btn" download>Download <img src="/static/fonts/download.svg" alt=""></a>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="services-content-wrap">
                        <div class="section-title mb-40">
                            <span class="sub-title">ONLINE STREAMING</span>
                            <h2 class="title">Download Your Shows Watch Offline.</h2>
                        </div>
                        <div class="services-list">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-television"></i>
                                    </div>
                                    <div class="content">
                                        <h5>Enjoy on Your TV.</h5>
                                        <p>Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="flaticon-video-camera"></i>
                                    </div>
                                    <div class="content">
                                        <h5>Watch Everywhere.</h5>
                                        <p>Lorem ipsum dolor sit amet, consecetur adipiscing elit, sed do eiusmod tempor.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- services-area-end -->

    <!-- top-rated-movie -->
    <section class="top-rated-movie tr-movie-bg2" data-background="/static/images/bg/tr_movies_bg.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title title-style-three text-center mb-70">
                        <span class="sub-title"> movies list</span>
                        <h2 class="title">In Theatres Now</h2>
                    </div>
                </div>
            </div>
            <div class="row movie-item-row">
                <!--                                                    PETER: HOW TO SHOW ALL DIVS THE SAME SIZE REGARDLESS OF CONTENT INSIDE THE DIV? -->
                {% for box_movie in box_movies %}
                <div class="custom-col-">
                    <div class="movie-item movie-item-two">
                        <div class="movie-poster">
                            <img src="{{box_movie.image}}" alt="">
                            <ul class="overlay-btn">
                                <li><a href="https://www.youtube.com/watch?v=R2gbPxeNk2E" class="popup-video btn">Watch Now</a></li>
                                <li><a href="movie-details.html" class="btn">Details</a></li>
                            </ul>
                        </div>
                        <div class="movie-content">
                            <!-- <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div> -->
                            <h5 class="title"><a href="movie-details.html"> {{box_movie.title}}</a></h5>
                            <span class="rel"> Weekend Gross: {{box_movie.weekend}} </span>
                            <div class="movie-content-bottom">
                                <ul>
                                    <li class="tag">
                                        <a href="#">HD</a>
                                        <!-- <a href="#">English</a> -->
                                    </li>
                                    <li>
                                        <span class="like"><i class="fas fa-thumbs-up"></i> Rank: {{box_movie.rank}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="tr-movie-btn text-center mt-25">
                <a href="#" class="btn">BROWSE ALL MOVIES</a>
            </div>
        </div>
    </section>
    <!-- top-rated-movie-end -->

    <!-- pricing-area -->
    <!-- <section class="pricing-area pricing-bg" data-background="/static/images/bg/pricing_bg.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title title-style-three text-center mb-70">
                        <span class="sub-title">our pricing plans</span>
                        <h2 class="title">Our Pricing Strategy</h2>
                    </div>
                </div>
            </div>
            <div class="pricing-box-wrap">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="pricing-box-item mb-30">
                            <div class="pricing-top">
                                <h6>premium</h6>
                                <div class="price">
                                    <h3>$7.99</h3>
                                    <span>Monthly</span>
                                </div>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li class="quality"><i class="fas fa-check"></i> Video quality <span>Good</span></li>
                                    <li><i class="fas fa-check"></i> Resolution <span>480p</span></li>
                                    <li><i class="fas fa-check"></i> Screens you can watch <span>1</span></li>
                                    <li><i class="fas fa-check"></i> Cancel anytime</li>
                                </ul>
                            </div>
                            <div class="pricing-btn">
                                <a href="#" class="btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="pricing-box-item active mb-30">
                            <div class="pricing-top">
                                <h6>standard</h6>
                                <div class="price">
                                    <h3>$9.99</h3>
                                    <span>Monthly</span>
                                </div>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li class="quality"><i class="fas fa-check"></i> Video quality <span>Better</span></li>
                                    <li><i class="fas fa-check"></i> Resolution <span>1080p</span></li>
                                    <li><i class="fas fa-check"></i> Screens you can watch <span>2</span></li>
                                    <li><i class="fas fa-check"></i> Cancel anytime</li>
                                </ul>
                            </div>
                            <div class="pricing-btn">
                                <a href="#" class="btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="pricing-box-item mb-30">
                            <div class="pricing-top">
                                <h6>premium</h6>
                                <div class="price">
                                    <h3>$11.99</h3>
                                    <span>Monthly</span>
                                </div>
                            </div>
                            <div class="pricing-list">
                                <ul>
                                    <li class="quality"><i class="fas fa-check"></i> Video quality <span>Best</span></li>
                                    <li><i class="fas fa-check"></i> Resolution <span>4K+HDR</span></li>
                                    <li><i class="fas fa-check"></i> Screens you can watch <span>4</span></li>
                                    <li><i class="fas fa-check"></i> Cancel anytime</li>
                                </ul>
                            </div>
                            <div class="pricing-btn">
                                <a href="#" class="btn">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- pricing-area-end -->

</main>
<!-- main-area-end -->

{% endblock %}